In [1]:
import pandas as pd

In [2]:
housing = pd.read_csv("data.csv")

In [3]:
housing.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [4]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       501 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

In [5]:
housing['CHAS'].value_counts()

0    471
1     35
Name: CHAS, dtype: int64

In [6]:
housing['RM'].value_counts()

6.405    3
6.229    3
6.167    3
5.713    3
6.127    3
        ..
6.020    1
6.546    1
5.859    1
6.416    1
6.976    1
Name: RM, Length: 441, dtype: int64

In [7]:
housing.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,501.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284341,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.705587,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.884000,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208000,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.625000,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

# missing value handle

In [8]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy="median")
imputer.fit(housing)

SimpleImputer(strategy='median')

In [9]:
X = imputer.transform(housing)
housing_tr = pd.DataFrame(X, columns=housing.columns)

In [10]:
housing_tr

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [11]:
housing_tr.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [12]:
from sklearn.model_selection import train_test_split
train_set, test_set  = train_test_split(housing_tr, test_size=0.2, random_state=42)
print(f"Rows in train set: {len(train_set)}\nRows in test set: {len(test_set)}\n")

Rows in train set: 404
Rows in test set: 102

In [13]:
from sklearn.model_selection import StratifiedShuffleSplit

split=StratifiedShuffleSplit(n_splits=1,test_size=0.2,random_state=42)
for train_index,test_index in split.split(housing_tr,housing_tr['CHAS']):
    strat_train_set=housing.loc[train_index]
    strat_test_set=housing.loc[test_index]

# feature Engineering

In [14]:
def correlation(dataset,threshold):
    col_corr=set() #set of all the names of correalted columns
    corr_matrix=dataset.corr()
    for i in range(len(corr_matrix.columns)):
        for j in range(i):
            if abs(corr_matrix.iloc[i,j])>threshold:
                colname=corr_matrix.columns[j]
                col_corr.add(colname)
    return col_corr

In [15]:
corr_feature=correlation(housing_tr,0.7)

In [16]:
data=housing_tr.drop(corr_feature,axis=1)

In [17]:
data

        CRIM    ZN  CHAS     RM     DIS    TAX  PTRATIO       B  MEDV
0    0.00632  18.0   0.0  6.575  4.0900  296.0     15.3  396.90  24.0
1    0.02731   0.0   0.0  6.421  4.9671  242.0     17.8  396.90  21.6
2    0.02729   0.0   0.0  7.185  4.9671  242.0     17.8  392.83  34.7
3    0.03237   0.0   0.0  6.998  6.0622  222.0     18.7  394.63  33.4
4    0.06905   0.0   0.0  7.147  6.0622  222.0     18.7  396.90  36.2
..       ...   ...   ...    ...     ...    ...      ...     ...   ...
501  0.06263   0.0   0.0  6.593  2.4786  273.0     21.0  391.99  22.4
502  0.04527   0.0   0.0  6.120  2.2875  273.0     21.0  396.90  20.6
503  0.06076   0.0   0.0  6.976  2.1675  273.0     21.0  396.90  23.9
504  0.10959   0.0   0.0  6.794  2.3889  273.0     21.0  393.45  22.0
505  0.04741   0.0   0.0  6.030  2.5050  273.0     21.0  396.90  11.9

[506 rows x 9 columns]

# remove outlier

In [18]:
B_thresold_min,B_thresold_max=data.B.quantile([0.01,0.99])
DIS_thresold_min,DIS_thresold_max=data.DIS.quantile([0.001,0.99])
TAX_min,TAX_max=data.TAX.quantile([0.001,0.99])
min_thresold,max_thresold=data.RM.quantile([0.001,0.99])

In [19]:
B_thresold_min

6.7299999999999995

In [20]:
min_thresold

3.71351

In [21]:
df1=data[(data.B>B_thresold_min)&(data.B<B_thresold_max)]
df2=df1[(df1.TAX>TAX_min)&(df1.TAX<TAX_max)]
df3=df2[(df2.DIS>DIS_thresold_min)&(df2.DIS<DIS_thresold_max)]
df4=df3[(df3.RM>min_thresold)&(df3.DIS<max_thresold)]

In [22]:
label=df4['MEDV']
label

2      34.7
3      33.4
5      28.7
6      22.9
8      16.5
       ...
346    17.2
495    23.1
499    17.5
501    22.4
504    22.0
Name: MEDV, Length: 264, dtype: float64

In [23]:
df5=df4.drop(['MEDV'],axis='columns')
df5

        CRIM    ZN  CHAS     RM     DIS    TAX  PTRATIO       B
2    0.02729   0.0   0.0  7.185  4.9671  242.0     17.8  392.83
3    0.03237   0.0   0.0  6.998  6.0622  222.0     18.7  394.63
5    0.02985   0.0   0.0  6.430  6.0622  222.0     18.7  394.12
6    0.08829  12.5   0.0  6.012  5.5605  311.0     15.2  395.60
8    0.21124  12.5   0.0  5.631  6.0821  311.0     15.2  386.63
..       ...   ...   ...    ...     ...    ...      ...     ...
346  0.06162   0.0   0.0  5.898  8.0136  352.0     18.8  364.61
495  0.17899   0.0   0.0  5.670  2.7986  391.0     19.2  393.29
499  0.17783   0.0   0.0  5.569  2.3999  391.0     19.2  395.77
501  0.06263   0.0   0.0  6.593  2.4786  273.0     21.0  391.99
504  0.10959   0.0   0.0  6.794  2.3889  273.0     21.0  393.45

[264 rows x 8 columns]

In [24]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
my_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy="median")),
    #     ..... add as many as you want in your pipeline
    ('std_scaler', StandardScaler()),
])

In [25]:
housing_num_tr = my_pipeline.fit_transform(df5)

In [26]:
housing_num_tr.shape

(264, 8)

In [27]:
housing_num_tr

array([[-0.64600826, -0.5482202 , -0.30892667, ..., -1.08984864,
         0.08230277,  0.38498628],
       [-0.63796674, -0.5482202 , -0.30892667, ..., -1.38462866,
         0.47107292,  0.42471498],
       [-0.64195584, -0.5482202 , -0.30892667, ..., -1.38462866,
         0.47107292,  0.41345852],
       ...,
       [-0.40770692, -0.5482202 , -0.30892667, ...,  1.10626252,
         0.68705633,  0.44987649],
       [-0.59006586, -0.5482202 , -0.30892667, ..., -0.6329396 ,
         1.46459662,  0.36644622],
       [-0.51572926, -0.5482202 , -0.30892667, ..., -0.6329396 ,
         1.46459662,  0.39867061]])

# Selecting a desired model

In [28]:

from sklearn import linear_model

In [39]:
model1=linear_model.Lasso(alpha=0.1)
model2=linear_model.LinearRegression()
model3=linear_model.Ridge(alpha=0.1)
model4=linear_model.ElasticNet(alpha=0.1)

In [40]:
model1.fit(housing_num_tr,label)

Lasso(alpha=0.1)

In [41]:
some_data = df5.iloc[:5]

In [42]:
some_data

      CRIM    ZN  CHAS     RM     DIS    TAX  PTRATIO       B
2  0.02729   0.0   0.0  7.185  4.9671  242.0     17.8  392.83
3  0.03237   0.0   0.0  6.998  6.0622  222.0     18.7  394.63
5  0.02985   0.0   0.0  6.430  6.0622  222.0     18.7  394.12
6  0.08829  12.5   0.0  6.012  5.5605  311.0     15.2  395.60
8  0.21124  12.5   0.0  5.631  6.0821  311.0     15.2  386.63

In [43]:
some_lebels=label.iloc[:5]

In [44]:
some_lebels

2    34.7
3    33.4
5    28.7
6    22.9
8    16.5
Name: MEDV, dtype: float64

In [48]:
prepared_data = my_pipeline.transform(some_data)

In [62]:
pred1=model1.predict(prepared_data)
pred1

array([33.40614263, 30.8567059 , 25.12658068, 22.50284429, 18.38211983])

In [64]:
model2.fit(housing_num_tr,label)

LinearRegression()

In [65]:
pred2=model2.predict(prepared_data)

In [53]:
model3.fit(housing_num_tr,label)

Ridge(alpha=0.1)

In [66]:
pred3=model3.predict(prepared_data)

In [57]:
model4.fit(housing_num_tr,label)

ElasticNet(alpha=0.1)

In [58]:
model4.fit(housing_num_tr,label)

ElasticNet(alpha=0.1)

In [67]:
pred4=model4.predict(some_data)

# Calculating confusion matrix

In [60]:
from sklearn.metrics import confusion_matrix

In [68]:
confusion_matrix(label, pred1)

ValueError: Found input variables with inconsistent numbers of samples: [264, 5]